<footer class="footer">
	<div class="container">
		<div class="text">
			<h3></h3>
		</div>
		<footer id="footer" class="darkgrey_section">
        <div class="container">
            <div class="row">       

                <div class="col-md-3 col-sm-6 widget widget_recent_entries to_animate">
                    <h3 class="widget-title">best resorts</h3>                    
                    <ul>
                        <li>
                            <a href="#">Zermatt, Switzerland</a>
                        </li>
                        <li>
                            <a href="#">Husky Holidays Finland</a>
                        </li>
                        <li>
                            <a href="#">Girdwood, Alaska</a>
                        </li> 
                         <li>
                            <a href="#">Ski Chamonix, France</a>
                        </li>                      
                    </ul>
                </div> 

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_flickr">
                        <h3 class="widget-title">Flickr Widget</h3>
                        <ul id="flickr"></ul>
                    </div>
                </div>         

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_archive">
                        <h3 class="widget-title">Helpful Links</h3>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                               <a href="#">Lorem ipsum dolor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_archive">
                        <h3 class="widget-title">More From Us</h3>
                        <ul>
                            <li>
                                <a href="#">About Traveling to Switzerland</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to France</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to Asia</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to Finland</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    
                    
                
            
            </div>
        </div>
    </footer>






    <section id="copyright" class="dark_section with_top_border">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; Copyright 2014 - Winter Vacation Template</p>
                </div>                
            </div>
        </div>
    </section>
	</div>
</footer>