
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Winter</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/fonts.css">
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/39893691-6860-8C47-9319-096B042073C4/main.js" charset="UTF-8"></script><script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]><style type="text/css">.layer-snow{display:none}</style><![endif]-->

</head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="box_wrapper">

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="./" class="navbar-brand"><span>Winter Vacation</span></a>
                    <span id="toggle_mobile_menu"></span>
                    <nav id="mainmenu_wrapper">
                        <ul id="mainmenu" class="nav sf-menu">
                            <li class="">
                                <a href="#mainslider">Home</a>
                            </li>
                            <li class="">
                                <a href="#about_us">About Us</a>
                            </li>                                                          
                            <li class="">
                                <a href="#service">Service</a>
                             </li> 
                             <li class="">
                               <a href="#testimonials">Testimonials</a>
                            </li>  
                            <li class="">
                               <a href="#portfolio">Work</a>
                            </li>                                 
                            <li class="">
                               <a href="#post-blogs">News</a>
                            </li> 
                            <li class="">
                               <a href="#contact">Contact</a>
                            </li>                                         
                        </ul>  
                    </nav>
                
                </div>
            </div>
        </div>
    </header>

<section id="mainslider">
    <div class="flexslider">
        <div class="layer-snow"></div>
        <ul class="slides">
            <li>
                <div class="slide_overlay">
                  <img src="example/flex_slide01.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description text-center">                          
                        <h3><span class="highlight">great</span> </h3>                        
                        <h3><span class="highlight">vacation</span> </h3>                        
                    </div>
                </div> 
            </li>
            <li>
                <div class="slide_overlay">
                  <img src="example/flex_slide02.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description text-center">                           
                        <h3><span class="highlight">great</span> </h3>
                        <h3><span class="highlight">vacation</span> </h3>
                    </div>
                </div> 
            </li>             
        </ul>
    </div>
</section>


<section id="about_us" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                    <h2 class="section_header">
                        About us
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 to_animate" data-animation="fadeInRight">
                    <div class="about">
                        <img alt="" src="example/about_1.jpg" class="img-responsive">
                        <div class="caption">                            
                            <h4 class="text-center">Why Choose Us?</h4>
                            <p>Phasellus placerat, metus sed condimentum luctus, felis risus aliquam ipsum, quis suscipit odio nunc et ligula. Nullam imperdiet iaculis mi, sagittis hendrerit tortor.</p>
                        </div>
                    </div>
                </div>    
                <div class="col-sm-4 to_animate" data-animation="fadeInRight">
                    <div class="about">
                        <img alt="" src="example/about_2.jpg" class="img-responsive">
                        <div class="caption">                            
                            <h4 class="text-center">Our tour is gorgeous</h4>
                            <p>Phasellus placerat, metus sed condimentum luctus, felis risus aliquam ipsum, quis suscipit odio nunc et ligula. Nullam imperdiet iaculis mi, sagittis hendrerit tortor.</p>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-4 to_animate" data-animation="fadeInRight">
                    <div class="about">
                        <img alt="" src="example/about_3.jpg" class="img-responsive">
                        <div class="caption">                            
                            <h4 class="text-center">Holiday on snow</h4>
                            <p>Phasellus placerat, metus sed condimentum luctus, felis risus aliquam ipsum, quis suscipit odio nunc et ligula. Nullam imperdiet iaculis mi, sagittis hendrerit tortor.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>


<section id="booking" class="dark_section parallax">
    <div class="layer-snow"></div>
    <div class="container">       
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    We will find you a hotel
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>
            </div>
        </div>       
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <form action="/" method="post" class="b-form group">
                    <div class="arrival group">
                        <input type="text" placeholder="enter date arrive" class="datepicker" id="arrive" name="arrive">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <div class="departure group">
                        <input type="text" placeholder="enter date depart" class="datepicker hasDatepicker" id="depart" name="depart">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <div class="adults group">
                         <input type="text" placeholder="number of adults" class="datepicker hasDatepicker" id="adults" name="adults">
                    </div>

                    <div class="room group">
                        <input type="text" placeholder="number of rooms" class="datepicker hasDatepicker" id="room" name="room">
                    </div>

                    <div class="bookbtn group">
                        <button class="theme_button button_booking" type="submit">book now</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>    
</section>


<section id="service">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    most popular tours
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>
            </div>
        </div>  
        <div class="row">
                <div class="col-sm-12">
                    <div id="popular-tours-carousel" class="owl-carousel to_animate" data-animation="fadeInLeft">
                        <div>  
                            <div class="tour">
                                <div class="tour-img">
                                    <img alt="" src="example/tour1.jpg" class="img-responsive">
                                 </div>
                                <div class="caption">
                                    <p class="price">$1400</p>
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>In sit amet diam sit amet nunc mattis blandit. Etiam tincidunt ipsum augue. Aenean sed libero vulputate.</p>
                                </div> 
                            </div> 
                        </div>
                        <div>  
                             <div class="tour">
                                 <div class="tour-img">
                                    <img alt="" src="example/tour2.jpg" class="img-responsive">
                                 </div>
                                <div class="caption">
                                    <p class="price">$2550</p>
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>In sit amet diam sit amet nunc mattis blandit. Etiam tincidunt ipsum augue. Aenean sed libero vulputate.</p>
                                </div> 
                            </div> 
                        </div>
                        <div>
                            <div class="tour">
                                 <div class="tour-img">
                                    <img alt="" src="example/tour3.jpg" class="img-responsive">
                                 </div>
                                <div class="caption">
                                    <p class="price">$1000</p>
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>In sit amet diam sit amet nunc mattis blandit. Etiam tincidunt ipsum augue. Aenean sed libero vulputate.</p>
                                </div> 
                            </div>                           
                        </div>
                        <div>
                            <div class="tour">
                                 <div class="tour-img">
                                    <img alt="" src="example/tour4.jpg" class="img-responsive">
                                 </div>
                                <div class="caption">
                                    <p class="price">$3850</p>
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>In sit amet diam sit amet nunc mattis blandit. Etiam tincidunt ipsum augue. Aenean sed libero vulputate.</p>
                                </div> 
                            </div>                          
                        </div>
                        <div>
                            <div class="tour">
                                 <div class="tour-img">
                                    <img alt="" src="example/tour5.jpg" class="img-responsive">
                                 </div>
                                <div class="caption">
                                    <p class="price">$1400</p>
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>In sit amet diam sit amet nunc mattis blandit. Etiam tincidunt ipsum augue. Aenean sed libero vulputate.</p>
                                </div> 
                            </div>                           
                        </div>
                    </div>
                </div>                
            </div>
    </div>    
</section>


<section id="deals" class="dark_section parallax">
    <div class="layer-snow"></div>
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    best deals
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>
            </div>
        </div>  
        <div class="row">
                <div class="col-sm-12">
                    <div id="deals-carousel" class="owl-carousel to_animate text-center" data-animation="fadeInLeft">
                        <div> 
                            
                                <p class="lead"><mark>New year</mark> - 4 Nights / 3 Day - Flight Tickets + 4* Hotel, Dep. 31 Dec. from <mark>$250</mark> / person.</p>
                                <span><i class="fa fa-2x fa-map-marker"></i> Fleur de Neige (Courchevel/France)</span>
                                <span><i class="fa fa-2x fa-plane"></i> British Airways</span>
                                <span><i class="fa fa-2x fa-bus"></i> Free transfer</span>   
                                                     
                        </div>
                        <div>  
                             <p class="lead"><mark>New year</mark> - 3 Nights / 2 Day - Flight Tickets + 5* Hotel, Dep. 12 Feb. from <mark>$319</mark> / person.</p>
                            <span><i class="fa fa-2x fa-map-marker"></i> Marmotte (Courchevel/France)</span>
                            <span><i class="fa fa-2x fa-plane"></i> British Airways</span>
                            <span><i class="fa fa-2x fa-bus"></i> Free transfer</span>
                             
                        </div>
                        <div>
                             <p class="lead"><mark>Valentines Day</mark> - 5 Day / 4 Nights - Flight Tickets + 4* Hotel, Dep. 12 Feb. from <mark>$220</mark> / person.</p>
                            <span><i class="fa fa-2x fa-map-marker"></i> Bastille Speria (Paris/France)</span>
                            <span><i class="fa fa-2x fa-plane"></i> British Airways</span>
                            <span><i class="fa fa-2x fa-bus"></i> Free transfer</span>
                                                      
                        </div>
                        <div>
                             <p class="lead"><mark>New year</mark> - 3 Nights / 2 Day - Flight Tickets + 5* Hotel, Dep. 12 Feb. from <mark>$319</mark> / person.</p>
                            <span><i class="fa fa-2x fa-map-marker"></i> Marmotte (Courchevel/France)</span>
                            <span><i class="fa fa-2x fa-plane"></i> British Airways</span>
                            <span><i class="fa fa-2x fa-bus"></i> Free transfer</span>
                                                    
                        </div>
                        <div>
                             <p class="lead"><mark>New year</mark> - 4 Nights / 3 Day - Flight Tickets + 4* Hotel, Dep. 31 Dec. from <mark>$250</mark> / person.</p>
                            <span><i class="fa fa-2x fa-map-marker"></i> Fleur de Neige (Courchevel/France)</span>
                            <span><i class="fa fa-2x fa-plane"></i> British Airways</span>
                            <span><i class="fa fa-2x fa-bus"></i> Free transfer</span>     
                                                
                        </div>
                    </div>
                </div>                
            </div>
    </div>    
</section>

<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="partners-carousel" class="owl-carousel">
                    <div>
                        <a href="#">
                            <img src="example/partner1.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner2.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner3.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner4.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner5.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner6.png" alt="">
                        </a>

                    </div>

                    <div>
                        <a href="#">
                            <img src="example/partner1.png" alt="">
                        </a>

                    </div>

                </div>
            </div>            
        </div>   
    </div>
</section>


<section id="testimonials" class="parallax dark_section">
    <div class="layer-snow"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                <h2 class="section_header">
                    testimonials
                </h2>    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>           
            </div>
        </div>

        <div class="row to_animate" data-animation="fadeInUp">            
            <div class="col-sm-8 col-sm-offset-2">
                 <span class="quote"></span>
                <div id="carousel-media" class="carousel slide testimonials-carousel" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-media" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-media" data-slide-to="1"></li>
                        <li data-target="#carousel-media" data-slide-to="2"></li>
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">

                            <div class="pull-left">
                                 <img class="img-circle" src="example/team/01.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h2>Lina Porto</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>

                        </div>
                        
                        <div class="item">
                            <div class="pull-left">
                                 <img class="img-circle" src="example/team/02.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h2>Marta Koba</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="pull-left">
                                 <img class="img-circle" src="example/team/03.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h2>Lora Anderson</h2>
                                <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                </p>
                            </div>
                        </div>                      

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-media" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-media" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
        
            </div>
        </div>
    </div>
</section>



<section id="portfolio" class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                    <h2 class="section_header">
                        our gallery
                    </h2>    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>           
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">  
                    <div id="isotope_filters">
                        <a href="#" data-filter="*" class="selected">Show All</a>
                        <a href="#" data-filter=".branding">Branding</a>
                        <a href="#" data-filter=".web">Web</a>
                        <a href="#" data-filter=".print">Print</a>                        
                    </div>

                    <div id="isotope_container" class="isotope row masonry-layout text-center">
                        <div class="isotope-item gallery-item col-md-4 col-sm-6 branding print">

                                <img src="example/gallery/01.jpg" alt="">                    
                                                     
                            <div class="gallery-item-description">                                
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/01.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dolore voluptates, repellat alias reprehenderit. Quisquam aperiam officia commodi unde accusantium cum laudantium optio, assumenda voluptas?</p>                                 
                            </div>                      
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 web print">
                           
                                <img src="example/gallery/02.jpg" alt="">
                        
                            <div class="gallery-item-description">
                                <h3> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/02.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dumquam placeat quisquam deleniti debitis provident qui sit cupiditate beatae dolorum. Minus esse praesentium, debitis excepturi.</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 branding">

                                <img src="example/gallery/03.jpg" alt="">
                       
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/03.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dd quod error est aliquam vel a ipsa, vitae, corrupti reiciendis voluptatem ducimus praesentium inventore?</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 web">
                            
                                <img src="example/gallery/04.jpg" alt="">
                     
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/04.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dacere temporibus error consectetur ducimus odio, perferendis in quo vel odit praesentium officia iure nisi!</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 print">
                            
                                <img src="example/gallery/05.jpg" alt="">
                     
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/05.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dlaborum soluta dolores ipsum tempore eaque cumque pariatur corporis illo quia architecto nisi, magnam.</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 web">
                            
                                <img src="example/gallery/06.jpg" alt="">
                           
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/06.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dnemo praesentium modi quidem iusto, culpa consequuntur veniam, voluptate sunt est assumenda dolorem sint ex!</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 branding">
                            
                                <img src="example/gallery/07.jpg" alt="">
                           
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/07.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Dnim pariatur sequi ex et velit eaque ducimus placeat eligendi. Facere animi quos explicabo totam veniam.</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 branding">
                          
                                <img src="example/gallery/08.jpg" alt="">
                          
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/08.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Daut ab vitae doloribus voluptates necessitatibus beatae, quibusdam autem perferendis repellendus inventore earum quaerat accusamus.</p>
                            </div>
                        </div>

                        <div class="isotope-item gallery-item col-md-4 col-sm-6 web print">
                            
                                <img src="example/gallery/09.jpg" alt="">
                          
                            <div class="gallery-item-description">
                                <h3><a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="example/gallery/09.jpg">Lorem Ipsum Dolor</a></h3>
                                <p>Daut ab vitae doloribus voluptates necessitatibus beatae, quibusdam autem perferendis repellendus inventore earum quaerat accusamus.</p>
                            </div>
                        </div>


                    </div>
                    
                </div>
            </div>
        </div>
    </section>


<section id="news" class="dark_section parallax">
    <div class="layer-snow"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                <h2 class="section_header">
                    sign up to news
                </h2>    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>           
            </div>
        </div>
        <div class="row text-center">
            <div class="widget widget_mailchimp to_animate" data-animation="fadeInUp">                
                <form id="signup" action="/" method="get" class="form-inline">
                    <div class="form-group">
                        <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your@email.com">
                    </div>
                    <button type="submit" class="theme_button">Subscribe Now</button>
                    <div id="response"></div>
                </form>
            </div>
        </div>
    </div>
</section>


<section id="post-blogs" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                <h2 class="section_header">
                   Last News
                </h2>   
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a, veniam harum quas, obcaecati quo.</p>                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-news">
                   <div class="layer-wraper">  
                        <div class="layer-blog"></div>                      
                        <img alt="" src="example/blog1.jpg" class="img-responsive">
                   </div>                    
                        <div class="date-link">
                            <div class="title text-center">
                              Lorem ipsum dolor sit amet 
                           </div>
                            <i class="fa fa-calendar"></i>Mickey cutter
                            <span class="color_green">  /  </span>october 30, 2014<span class="color_green">  /  </span>
                            <a href="#">travel</a>
                        </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, accusamus, ipsam a nam dolor earum distinctio libero vel optio ipsum iusto et ad illum nulla quae at reiciendis amet laborum!</p>
                </div>     
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-news">
                   <div class="layer-wraper">  
                        <div class="layer-blog"></div>                     
                        <img alt="" src="example/blog2.jpg" class="img-responsive">
                   </div>                    
                        <div class="date-link">
                            <div class="title text-center">
                              Lorem ipsum dolor sit amet 
                           </div>
                            <i class="fa fa-calendar"></i>Mickey cutter
                            <span class="color_green">  /  </span>october 30, 2014<span class="color_green">  /  </span>
                            <a href="#">travel</a>
                        </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, accusamus, ipsam a nam dolor earum distinctio libero vel optio ipsum iusto et ad illum nulla quae at reiciendis amet laborum!</p>
                </div>     
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-news">
                   <div class="layer-wraper">   
                        <div class="layer-blog"></div>                     
                        <img alt="" src="example/blog3.jpg" class="img-responsive">
                   </div>                   
                        <div class="date-link"> 
                            <div class="title text-center">
                              Lorem ipsum dolor sit amet 
                           </div>
                            <i class="fa fa-calendar"></i>Mickey cutter
                            <span class="color_green">  /  </span>october 30, 2014<span class="color_green">  /  </span>
                            <a href="#">travel</a>
                        </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, accusamus, ipsam a nam dolor earum distinctio libero vel optio ipsum iusto et ad illum nulla quae at reiciendis amet laborum!</p>
                </div>     
            </div>                
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="contact-button text-center"> 
                   <a href="#">read all news</a>
                </div>   
            </div>
        </div>
    </div>
</section>

<section id="contact" class="parallax dark_section">
    <div class="layer-snow"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="fadeInUp">
                <h2 class="section_header">
                    Contact
                </h2>    
                <p>What can we help you with?</p>           
            </div>
        </div>
         <div class="row">                   

            <div class="widget widget_contact col-sm-6 to_animate">
                <h3>Contact Info</h3>
                <p>Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. In ac felis quis tortor malesuada pretium. In hac habitasse platea dictumst curabitur nisi hac habitasse platea dictumst maecenas nec odio et ante tincidunt tempus morbi ac felis.
                <br><br>
                    <strong>Phone:</strong> +12 345 678 9123
                </p>
                <p>
                    <strong>Email:</strong> <a href="mailto:info@company.com">info@company.com</a>
                </p>
                <p>
                    <strong>Website: </strong><a href="./">www.company.com</a>
                </p>
                <p>
                    <strong>Address:</strong> 4321 Your Address, Country 
                </p>
                 <div class="social-mid">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>  

            </div>


            <div class="widget col-sm-6 to_animate">
                <form class="contact-form" method="post" action="/">
                    <p class="contact-form-name">
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
                    </p>
                    <p class="contact-form-subject">
                        <label for="subject">Subject <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
                    </p>
                    <p class="contact-form-message">
                        <label for="message">Message</label>
                        <textarea aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <!-- <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_button"> -->
                        <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button">Submit</button>
                    </p>
                </form>
            </div>
        </div>
     </div>
</section>

<section id="map" class="grey_section"></section>


<footer id="footer" class="darkgrey_section">
        <div class="container">
            <div class="row">       

                <div class="col-md-3 col-sm-6 widget widget_recent_entries to_animate">
                    <h3 class="widget-title">best resorts</h3>                    
                    <ul>
                        <li>
                            <a href="#">Zermatt, Switzerland</a>
                        </li>
                        <li>
                            <a href="#">Husky Holidays Finland</a>
                        </li>
                        <li>
                            <a href="#">Girdwood, Alaska</a>
                        </li> 
                         <li>
                            <a href="#">Ski Chamonix, France</a>
                        </li>                      
                    </ul>
                </div> 

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_flickr">
                        <h3 class="widget-title">Flickr Widget</h3>
                        <ul id="flickr"></ul>
                    </div>
                </div>         

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_archive">
                        <h3 class="widget-title">Helpful Links</h3>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li>
                               <a href="#">Lorem ipsum dolor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_archive">
                        <h3 class="widget-title">More From Us</h3>
                        <ul>
                            <li>
                                <a href="#">About Traveling to Switzerland</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to France</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to Asia</a>
                            </li>
                            <li>
                                <a href="#">About Traveling to Finland</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    
                    
                
            
            </div>
        </div>
    </footer>






    <section id="copyright" class="dark_section with_top_border">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; Copyright 2014 - Winter Vacation Template</p>
                </div>                
            </div>
        </div>
    </section>
 

</div><!-- eof #box_wrapper -->

<div class="preloader">
    <div class="preloader_image"></div>
</div>


        <!-- libraries -->
        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.appear.js"></script>

        <!-- superfish menu  -->
        <script src="js/vendor/jquery.hoverIntent.js"></script>
        <script src="js/vendor/superfish.js"></script>
        
        <!-- page scrolling -->
        <script src="js/vendor/jquery.easing.1.3.js"></script>
        <script src='js/vendor/jquery.nicescroll.min.js'></script>
        <script src="js/vendor/jquery.ui.totop.js"></script>
        <script src="js/vendor/jquery.localscroll-min.js"></script>
        <script src="js/vendor/jquery.scrollTo-min.js"></script>
        <script src='js/vendor/jquery.parallax-1.1.3.js'></script>

        <!-- widgets -->
        <script src="js/vendor/jquery.easypiechart.min.js"></script><!-- pie charts -->
        <script src='js/vendor/jquery.countTo.js'></script><!-- digits counting -->
        <script src="js/vendor/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
        <script src='js/vendor/jflickrfeed.min.js'></script><!-- flickr -->
        <script src='twitter/jquery.tweet.min.js'></script><!-- twitter -->

        <!-- sliders, filters, carousels -->
        <script src="js/vendor/jquery.isotope.min.js"></script>
        <script src='js/vendor/owl.carousel.min.js'></script>
        <script src='js/vendor/jquery.fractionslider.min.js'></script>
        <script src='js/vendor/jquery.flexslider-min.js'></script>
        <script src='js/vendor/jquery.bxslider.min.js'></script>

        <!-- custom scripts -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>


        <!-- Map Scripts -->

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var lat;
            var lng;
            var map;
            var styles = [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}];

            //type your address after "address="
            jQuery.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=london, baker street, 221b&sensor=false', function(data) {
                lat = data.results[0].geometry.location.lat;
                lng = data.results[0].geometry.location.lng;
            }).complete(function(){
                dxmapLoadMap();
            });

            function attachSecretMessage(marker, message)
            {
                var infowindow = new google.maps.InfoWindow(
                    { content: message
                    });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
            }

            window.dxmapLoadMap = function()
            {
                var center = new google.maps.LatLng(lat, lng);
                var settings = {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoom: 16,
                    draggable: false,
                    scrollwheel: false,
                    center: center,
                    styles: styles 
                };
                map = new google.maps.Map(document.getElementById('map'), settings);

                var marker = new google.maps.Marker({
                    position: center,
                    title: 'Map title',
                    map: map
                });
                marker.setTitle('Map title'.toString());
            //type your map title and description here
            attachSecretMessage(marker, '<h3>Map title</h3>Map HTML description');
            }
        </script>


    </body>
</html>