{% extends 'base/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4-offset-4">
				<h3>
					<p class="text-typing">Портфолио в Школу Менеджеров:</p>
					<p class="text-typing">Пример лэндинга: <a href="{% url 'landing' %}">Landing</a></p>
					<p class="text-typing">Блог №1: <a href="http://feeljapan.ru">feeljapan.ru</a></p>
					<!-- <p class="text-typing">Блог №2:</p> -->
				</h3>
			</div>
		</div>
	</div>
{% endblock %}